global
        maxconn 4096
        daemon
        log 127.0.0.1 local0 debug

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        option http-server-close
        option forwardfor
        maxconn 2000
        timeout connect 5s
        timeout client  15min
        timeout server  15min

frontend public
        bind *:80
        use_backend transmission if { path_beg /transmission/ }
        use_backend jackett if { path_beg /jackett/ }
        use_backend radarr if { path_beg /radarr/ }
        use_backend sonarr if { path_beg /sonarr/ }
        use_backend bazarr if { path_beg /bazarr/ }
        use_backend octoprint if { path_beg /octoprint/ }

backend transmission
        http-request replace-path /transmission(.*) \1\
        option forwardfor
        server transmission1 transmission:9091

backend jackett
        http-request replace-path /jackett(.*) \1\
        option forwardfor
        server jackett1 jackett:9117

backend radarr
        http-request replace-path /radarr(.*) \1\
        option forwardfor
        server radarr1 radarr:7878

backend sonarr
        http-request replace-path /sonarr(.*) \1\
        option forwardfor
        server sonarr1 sonarr:8989

backend sonarr
        http-request replace-path /bazarr(.*) \1\
        option forwardfor
        server bazarr1 bazarr:7878

backend sonarr
        http-request replace-path /octoprint(.*) \1\
        option forwardfor
        server octoprint1 octoprint:80